*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #0b486b, #f56217); 
    padding: 10px;
}
.todo-list{
    width: 100%;max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 2px 0px 41px 11px rgba(0,0,0,0.69);
-webkit-box-shadow: 2px 0px 41px 11px rgba(0,0,0,0.69);
-moz-box-shadow: 2px 0px 41px 11px rgba(0,0,0,0.69);
}
.todo-list h2{
    color: #0b486b;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#input-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    height: 55px;
}
#search-btn{
    cursor: pointer;
    width: 29px;
    height: 29px;
    margin-right: 9px;
}
#list-container{
    /* display: flex; */
    gap: 10em;
    align-items: center;
    width: 31em;
}

#list-container h5{
    color: #0b486b;
    list-style: none;
    font-size: 21px;
    font-weight: 700;
    display: inline-block;
}

#list-container #edit-btn{
    height: 34px;
    width: 76px;
    background: #4d62d6;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
#list-container #dlt-btn{
    height: 34px;
    width: 76px;
    background: #ef0000d6;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
#list-container div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
